header{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px; 
}

header nav{
    display: flex;
    width: 100%;
}

.title{
    font-size: 1.7rem;
    font-family: 'Reem Kufi Fun';
    color:var(--amarelo-titulo);
}

.caixa-header{
    
    display: flex;
    width: 100%;
    gap: 40px;
}

.placeholder-pesquisar{
    display: flex;
    min-width: 16%;
    padding-left: 1%;
    border-radius: 20px;
}

main{

    width: 100%;
    height: 100vh;
}

.div-armazenar-tudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    height: 100%;
}

.div-infos-gerais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

.div-infos-gerais span{
    display: flex;
    width:100%;
    color: var(--amarelo-titulo);
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    font-family: 'Reem Kufi Fun', sans-serif;
}

.div-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.div-pesquisa h2{
    font-size: 4rem;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: white;
}

.div-pesquisa a{
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
}

.img-personagem{
    width: 100%;
    opacity: 90%;
}
@media(max-width: 1120){

    .div-pesquisa h2{
        font-size: 3.5rem;
    }
}
@media(max-width: 1015px){
    .div-pesquisa h2{
        font-size: 3rem;

    }
    .img-personagem{
        min-width: 100%;
    }
}
@media(max-width: 765px){
    
    .div-armazenar-tudo{
        display: flex;
        padding-left: 0;
        flex-direction: column-reverse;
        padding-top: 150px;
        gap: 20px;

    }
    .div-infos-gerais {
        padding-top: 50px;
    
    }
    .div-infos-gerais span{

        display: flex;
        align-self: center;
        justify-content: center;
        text-align: center;

    }
    .div-pesquisa h2{
        font-size: 2rem;

    }
    .img-personagem{
    
        min-width: 100%;

    }
    .copyright{
        margin-top: 10%;
    }
}
@media(max-width: 525px){
    .div-pesquisa h2{

        font-size: 1.5rem;

    }
    .placeholder-pesquisar{
        height: 50%;
    }

}