main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main_items{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    padding: 60px;
}

@font-face {
    font-family: Jedi;
    src: url(../fonts/Starjedi.ttf);
}
.title{    
    font-family: '';
    /* color: var(--color-titulo); */
    color: yellow;
   font-size: 2.4rem;
}

.search_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-grow: 1;
}

.search_input span{
    color: white;
    opacity: 0.7;
    font-size: 1.3rem;
}

.input{
    height: 2.5em;
    border-radius: 20px;
    width: 50%;
    padding-left:1%;
}
    
.darth_vader{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 15%;
}

.darth_vader img{
    display: flex;
    width: 100%;
    height: 30%;
}

.planet_container{
    display: flex;
    justify-content: center;
    height: 70%;
}

.planet{
    display: flex;
    width: 100%;
    height: 25%;
}

.caixa_infos{
    width: 100%;
    height: 40%;
}

.caixa_exemplos{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: tomato;
}

@media(max-width:768px){
    .planet_container{
        display: none;
    }
    .darth_vader{
        display: none;
    }
}