main{
    height: 100vh;
    overflow: hidden;
}

.planet{
    max-width: 20%;
    max-height: 30%;
     
}
.title{    
    font-family: 'Reem Kufi Fun', sans-serif;
    color: var(--amarelo-titulo);
    font-size: 1.75rem;
}

.search-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.input{
    height: 3.5em;
    border-radius: 20px;
    width: 70%;
    padding-left:1%;
}
.darth-vader{
    margin-top: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.darth-vader img{
    display: flex;
    max-width: 25%;
    max-height: 550px;
    cursor: pointer;
}
.caixa-exemplos{
    display: flex;
    margin-right: 100px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    border: 3px solid rgb(97, 97, 97);
    background-color: rgb(170, 170, 170);
    font-family: 'Reem Kufi Fun', sans-serif;
    flex-direction: column;
}
.triangulo{
    margin-left: 250px;
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid rgb(97, 97, 97);

}
.caixa-sumir{
    display: none;
}

.subtitle-mobile{
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
    display: none;
}
.copyright{
    font-family: 'Reem Kufi Fun', sans-serif;
}
/* 
@media(max-height : 915px){
    .darth-vader img {
        max-height: max-content
    }
} */
@media all and (max-height : 920px){
    .darth-vader img {
        height: 100%;
    }
}

@media(max-width: 1090px){
    .planet{
        max-width: 25%;
    }
    .darth-vader img{
        max-width: 33%;
    }
}   

@media(max-width:850px){
    main{
        height: 100vh;
    }
    .search-input{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    .planet{
        display: none;
    }
    .darth-vader{
        display: none;
    }
    .subtitle-mobile{
        display: flex;
    }
}