main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_items{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

@font-face {
    font-family: Jedi;
    src: url(../fonts/Starjedi.ttf);
}
.title{    
    font-family: '';
    /* color: var(--color-titulo); */
    color: yellow;
   
}

.search_input{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.search_input span{
    color: white;
    opacity: 0.7;
    font-size: 1.5rem;
}
    
.darth_vader{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    background-color: purple;
}

.darth_vader img{
    display: flex;
    width: 100%;
    height: 25%;
}

.planet_container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.planet{
    display: flex;
    width: 100%;
    height: 30%;
}

.caixa_exemplos{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: tomato;
}

@media(max-width:768px){
    .planet_container{
        display: none;
    }
    .darth_vader{
        display: none;
    }
}