.message{
    color: white;
    font-size: 2rem;
    font-family: 'Reem Kufi Fun', sans-serif;
    

}
main{

    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
.link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20%;

}
.caixa-p img{
    max-height: 300px;
}

/* main{

    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3%;
    margin-top: 4%;

}

.caixa-p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.041);
}

.caixa-p h3{
    color: white;
    font-family: 'Reem Kufi Fun', sans-serif;
}

.caixa-p img{
    max-height: 270px;
    border: 3px solid rgb(97, 97, 97);
} */

@media(max-width:768px){
    .message{
        display: none;
    }
}